@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --primary-blue: #0c4da2;
    --secondary-color: #2ecc71;
}

* {
    font-family: "Manrope", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}